h1#project-title {
    padding-top: 100px;
    text-align: center;
    color: whitesmoke;
    font-weight: 500;
    font-size: 3rem;
  }
  
  h2#project-filter-title {
    color: white;
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-size: revert;
    text-decoration: underline;
    text-underline-position: under;
  }
  
  div#filter-container {
    display: flex;
    flex-wrap: wrap;
    color: black;
    margin: 1rem 2rem;
  }
  
  div#all {
    font-weight: 500;
  }
  
  .MuiToggleButton-root {
    padding: 0 10px !important; 
    border-radius: 10px !important;
    margin: 0.5rem 6px!important;
    text-transform: capitalize !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: monospace !important;
    border: 2px solid transparent !important;
    line-height: 2rem !important;
  }

  .Mui-selected {
    opacity: 0.5;
  }

  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: inline-flex;
    width: -webkit-fill-available;
    margin: 1rem;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
  }

  

  div.filter-option:hover{
    opacity:0.8 !important;
  }
  
  div.project-component {
    background-color: #3B3B3B;
    /* margin: 1rem; */
    border-radius: 10px;
    padding: 1rem;
    height: fit-content;
    color:white;
  }
  div.project-component:hover {
    background-color: #3E4C59;
  }
  
  .project-description{
    font-size: 16px;
    line-height: 1.5rem;
  }
  
  ul.project-tags {
    list-style: none;
    width: fit-content;
    margin: 5px 0;
    padding: unset;
    display: inline-block;
    font-size: 12px;
    font-family:monospace;
  }
  
  li.project-tags-item {
    margin: 0 5px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: fit-content;
    border: 2px solid transparent;
  }
  
  a,
  a:visited {
    text-decoration: none;
    decoration: none;
    color: inherit;
  }