.experience-container{
   margin-bottom:1rem;
}

.experience-title {
	font-size: 1.5rem;
}

.experience-technology-container {
	margin: 0;
	overflow: hidden;
	display: inline-flex;
	gap: 3rem;
}

.experience-tenure {
	/* padding-inline-start: 2ch; */
	font-weight: 300;
}

.experience-description-container > li {
   line-height: 1.5rem;
}

.experience-technology-container > li {
	display: list-item;
	list-style-type: "â›";
	padding-inline-start: 1ch;
}
